*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
}

.card{
    width: min(90%, 470px);
    background: linear-gradient(135deg, #b7cf08, #20dcf5);
    color: #fff;
    margin-top: 10vh;
    margin-inline: auto;
    border-radius: 20px;
    padding: 2.5em 2.2em;
    text-align: center;
}
.busca{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.busca input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: .75em 1em;
    width: 100%;
    border-radius: 50px;
    margin-right: 1em;
    font-size: 1rem;
}
.busca button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    padding: .8em .2em;
    cursor: pointer;
}
.busca button img{
    width: min(100%, 1rem);
}
.tempo-icon{
    width: 100px;
    margin-top: 30px;
}
.tempo h1{
    font-size: 6rem;
    font-weight: 500;
}
.tempo h2{
    font-size: 4rem;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-inline: center;
    margin-top: 2.5em;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1rem;
}
.col img{
    width: min(100%, 40px);
    margin-inline: auto;
}
.umidade, .vento{
    font-size: 1.8rem;
}

.error{
    text-align: left;
    margin-left: 1em;
    font-size: 1rem;
    margin-top: 1em;
    display: none;
}

.tempo{
    display: none;
}